<div class="row">
  <!-- <div class="btn btn-primary" (click)="rebuildDriverBalances()">Rebuild driver balance</div> -->
  <div class="btn btn-primary" (click)="rebuildClientBalances()">更新所有客户余额</div>
  <div class="btn btn-primary" (click)="addFieldToOrders()">添加域到订单</div>
  <div class="btn btn-primary" (click)="saveMerchantUsers()">保存商家用户</div>
  <div class="btn btn-primary" (click)="rmDistanceDuplicated()">删除重复距离</div> 
  <div class="btn btn-primary" (click)="rebuildTransactions()">更新所交易</div>
  <div class="btn btn-primary" (click)="rebuildDriverHoursTable()">更新超时</div>
  <div class="btn btn-primary" (click)="rmDupClientBalances()">删除多余客户余额</div>
  <div class="btn btn-primary" (click)="updateOrders()">更新订单结构</div>
  <div class="btn btn-primary" (click)="rebuildAllMerchants()">更新所有商家</div>

  <!-- <div class="btn btn-primary" (click)="patchAllClientBalances()">更新所有老客户</div> -->
  <!-- <div class="btn btn-primary" (click)="rebuildAllDrivers()">更新所有司机ID</div>
  
  <div class="btn btn-primary" (click)="rebuildAllMerchants()">更新所有商家ID</div>
  
  <div class="btn btn-primary" (click)="rebuildAllProducts()">更新所有菜品</div>
  <div class="btn btn-primary" (click)="rebuildAllContacts()">更新所有联系</div>
  <div class="btn btn-primary" (click)="rebuildAllOrders()">更新所有订单</div>
  <div class="btn btn-primary" (click)="rebuildAllAssignments()">更新所有分配</div>
  <div class="btn btn-primary" (click)="rebuildAllMallSchedules()">更新Mall Schedule</div>

  
  <div class="btn btn-primary" (click)="rebuildClientBalanceTable()">更新客户余额表格</div>
   -->
</div>