
<div class="order-form" *ngIf="orders && orders.length>0">
  <mat-card *ngIf="selectedOrder">
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@Client"> Client</span>:&nbsp;
        <span>{{selectedOrder.clientName}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="order-detail">
        <div>
          <span i18n="@@OrderCode">Order Code</span>:&nbsp;{{selectedOrder.code}}</div>
        <div>
          <span i18n="@@ClientPhoneNumber">Phone Number</span>:&nbsp;{{selectedOrder.clientPhoneNumber}}</div>
        <div>
          <span i18n="@@DeliverAddress">Deliver Address</span>:&nbsp;{{selectedOrder.address}}</div>
      </div>

      <div class="product-list" *ngIf="selectedOrder.items && selectedOrder.items.length > 0">
        <div *ngFor="let item of selectedOrder.items" class="row product-row">
          <div class="col-7">{{item.productName}}</div>
          <div class="col-2">x{{item.quantity}}</div>
          <div class="col-3">${{item.price}}</div>
        </div>
      </div>

      <form class="order-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-label><span i18n="@@Merchant">Merchant</span></mat-label>
          <mat-select [(value)]="selectedMerchantId" (selectionChange)="onMerchantChanged($event)">
            <mat-option *ngFor="let r of merchants" [value]="r._id">
              {{r.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field class="hour-field">
          <input matInput placeholder="Hours" value="" [formControl]="hours" >
        </mat-form-field>
      
        <mat-form-field class="hour-field">
          <input class="date-input" matInput [matDatepicker]="picker" i18n-placeholder placeholder="Choose a date"
            [formControl]="date" (click)="picker.open()" (dateChange)="onDateChange('change', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <app-product-list [items]='items'></app-product-list>
        <button mat-stroked-button color="primary" (click)="onSubmit()" >Submit</button>
      </form>


    </mat-card-content>
  </mat-card>
</div>
<!--mat-elevation-z8 -->
<div class="order-table" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@OrderCode"> Code </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <ng-container matColumnDef="merchantName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Merchant"> Merchant </th>
      <td mat-cell *matCellDef="let row"> {{row.merchantName}} </td>
    </ng-container>

    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Client"> Client </th>
      <td mat-cell *matCellDef="let row"> {{row.clientName}} </td>
    </ng-container>

    <ng-container matColumnDef="clientPhoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ClientPhoneNumber"> Client Phone Number </th>
      <td mat-cell *matCellDef="let row"> {{row.clientPhoneNumber}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Address"> Address </th>
        <td mat-cell *matCellDef="let row"> ${{row.address}} </td>
      </ng-container> -->

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Note"> Note </th>
      <td mat-cell *matCellDef="let row"> {{row.note}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n="@@Operation"> Operation </th>
      <td mat-cell *matCellDef="let row">
        <!-- <div class="btn btn-primary" i18n="@@Save" (click)="onSave(row)">Save</div> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectOrder(row)" [class.highlighted]="row === selectedOrder"></tr>
  </table>
</div>