<div *ngIf="productListByMerchants && productListByMerchants.length === 0" class="no-orders">No Orders</div>

<div class="summary-block" *ngIf="nOrders">
  <mat-card>
    <mat-card-header>
      <mat-card-title>统计</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-5 summary-left">
          <div class="row">
            <div class="col-5 title">
              <span>商品数</span><span>:</span>
            </div>
            <div class="col-7">x{{quantity}}</div>
          </div>
          <div class="row">
            <div class="col-5 title">
              <span>订单数</span><span>:</span>
            </div>
            <div class="col-7">x{{nOrders}}</div>
          </div>
          <div class="row">
            <div class="col-5 title">
              <span>饮料数</span><span>:</span>
            </div>
            <div class="col-7">x{{nDrinks}}</div>
          </div>
        </div>
        <div class="col-7 summary-right">
          <div class="row total-row">
            <div class="col-6 title">
              <span i18n="@@OverRangeCharge">Over Range Charge</span><span>:</span>
            </div>
            <div class="col-6">${{overRangeCharge | number : '1.2-2'}}</div>
          </div>

          <div class="row total-row">
            <div class="col-6 title">
              <span i18n="@@Turnover">Turnover</span><span>:</span>
            </div>
            <div class="col-6">${{total | number : '1.2-2'}}</div>
          </div>

          <div class="row total-row">
            <div class="col-6 title">
              <span i18n="@@Cost">Cost</span><span>:</span>
            </div>
            <div class="col-6">${{costTotal | number : '1.2-2'}}</div>
          </div>

          <div class="row total-row">
            <div class="col-6 title">
              <span i18n="@@Profit">Profit</span><span>:</span>
            </div>
            <div class="col-6">${{profit | number : '1.2-2'}}</div>
          </div>
        </div>
      </div>
      </mat-card-content>
  </mat-card>

  <mat-card *ngIf="selected">
    <mat-card-header>
      <mat-card-title>
        <span i18n="@@Merchant"> Merchant</span>:&nbsp;
        <span>{{selected.merchantName}}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="product-list" *ngIf="selected.items && selected.items.length > 0">
        <div *ngFor="let item of selected.items" class="row product-row">
          <div class="col-7">{{item.product.name}}</div>
          <div class="col-2">x{{item.quantity}}</div>
          <div class="col-3">${{item.product.price}}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="mat-elevation-z8 summary-table" *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="merchantName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Merchant"> Merchant </th>
      <td mat-cell *matCellDef="let row"> {{row.merchantName}} </td>
    </ng-container>

    <ng-container matColumnDef="nOrders">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Order"> Order </th>
      <td mat-cell *matCellDef="let row"> {{row.nOrders}} </td>
    </ng-container>

    <ng-container matColumnDef="nProducts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Product"> Product </th>
      <td mat-cell *matCellDef="let row"> {{row.nProducts}} </td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Cost"> Cost </th>
      <td mat-cell *matCellDef="let row"> ${{row.cost | number : '1.2-2'}} </td>
    </ng-container>


    <ng-container matColumnDef="overRangeCharge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@OverRangeCharge"> Over Range Charge </th>
      <td mat-cell *matCellDef="let row"> ${{row.overRangeCharge | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@Total"> Total </th>
      <td mat-cell *matCellDef="let row"> ${{row.total | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef i18n="@@Operation"> Operation </th>
      <td mat-cell *matCellDef="let row">
        <!-- <div class="btn btn-primary" i18n="@@Save" (click)="onSave(row)">Save</div> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectRow(row)" [class.highlighted]="row === selected"></tr>
  </table>
</div>

<!-- 
<div class="merchant-block">
    <div class="product-block" *ngIf="selected.items && selected.items.length > 0">
        <div *ngFor="let item of selected.items" class="row product-row">
          <div class="col-7">{{item.productName}}</div>
          <div class="col-2">x{{item.quantity}}</div>
          <div class="col-3">${{item.price}}</div>
        </div>
      </div>
  
      <div class="merchant-summary-block">
        <div class="row">
          <div class="col-8">
            <span i18n="@@Cost">Cost</span>
            <span>:</span>
          </div>
          <div class="col-4">${{selected.summary.cost | number : '1.2-2'}}</div>
        </div>
        <div class="row">
          <div class="col-8">
            <span i18n="@@ProductTotal">Product Total</span>:
          </div>
          <div class="col-4">${{selected.summary.productTotal | number : '1.2-2'}}</div>
        </div>
  
        <div class="row">
          <div class="col-8">
            <span i18n="@@Tax">Tax</span>
            <span>:</span>
          </div>
          <div class="col-4">${{selected.summary.tax | number : '1.2-2'}}</div>
        </div>
  
        <div class="row">
          <div class="col-8">
            <span i18n="@@Tips">Tips</span>
            <span>:</span>
          </div>
          <div class="col-4">${{selected.summary.tips | number : '1.2-2'}}</div>
        </div>
  
        <div class="row total-row">
          <div class="col-8">
            <span i18n="@@Total">Total</span>
            <span>:</span>
          </div>
          <div class="col-4">${{selected.summary.total | number : '1.2-2'}}</div>
        </div>
</div> -->

<!--  -->
<!-- 
<div *ngFor="let m of productListByMerchants" class="merchant-block">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="row summary-head">
          <div class="col-3">{{m.merchantName}}</div>
          <div class="col-3">商品数{{m.summary.quantity}}</div>
          <div class="col-3">订单数{{m.summary.nOrders}}</div>
          <div class="col-3">${{m.summary.total | number : '1.2-2'}}</div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="product-block" *ngIf="m.items && m.items.length > 0">
      <div *ngFor="let item of m.items" class="row product-row">
        <div class="col-7">{{item.productName}}</div>
        <div class="col-2">x{{item.quantity}}</div>
        <div class="col-3">${{item.price}}</div>
      </div>
    </div>

    <div class="merchant-summary-block">
      <div class="row">
        <div class="col-8">
          <span i18n="@@Cost">Cost</span>
          <span>:</span>
        </div>
        <div class="col-4">${{m.summary.cost | number : '1.2-2'}}</div>
      </div>
      <div class="row">
        <div class="col-8">
          <span i18n="@@ProductTotal">Product Total</span>:
        </div>
        <div class="col-4">${{m.summary.productTotal | number : '1.2-2'}}</div>
      </div>

      <div class="row">
        <div class="col-8">
          <span i18n="@@Tax">Tax</span>
          <span>:</span>
        </div>
        <div class="col-4">${{m.summary.tax | number : '1.2-2'}}</div>
      </div>

      <div class="row">
        <div class="col-8">
          <span i18n="@@Tips">Tips</span>
          <span>:</span>
        </div>
        <div class="col-4">${{m.summary.tips | number : '1.2-2'}}</div>
      </div>

      <div class="row total-row">
        <div class="col-8">
          <span i18n="@@Total">Total</span>
          <span>:</span>
        </div>
        <div class="col-4">${{m.summary.total | number : '1.2-2'}}</div>
      </div>
    </div>

  </mat-expansion-panel>

</div>


 -->