<div class="page-content">
  <mat-tab-group mat-align-tabs="left">
    <mat-tab i18n-label label="Summary">
      <app-driver-summary></app-driver-summary>
    </mat-tab>
    <mat-tab i18n-label label="Schedule">
      <app-driver-schedule></app-driver-schedule>
    </mat-tab>
    <mat-tab i18n-label label="History">
      <app-driver-history></app-driver-history>
    </mat-tab>
    <mat-tab i18n-label label="Salary">
      <app-driver-salary></app-driver-salary>
    </mat-tab>
    <mat-tab i18n-label label="OverTime">
      <app-driver-overtime></app-driver-overtime>
    </mat-tab>
    <mat-tab i18n-label label="Payment">
      <app-driver-payment></app-driver-payment>
    </mat-tab>
  </mat-tab-group>
</div>