$map-height: 540px;
$map-width: 578px;

.map-container{
  height: $map-height;
  width: $map-width;
  float: left;
  app-map{
    height: $map-height;
  }
}

.assignment-table{
  height: $map-height;
  width: calc(100% - #{$map-width});
  overflow: auto;
  float: left;
}

table{
  width: 100%;
  .highlighted{
    background-color: #eee
  }
}

.btn{
  margin-right: 5px;
}

mat-form-field{
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

$cellphone: "(max-width:480px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

@media #{$mobile}{
  $map-height: 240px;

  .assignment-table{
    width: 100%;
    height: 200px;
    // height: calc(100% - #{$map-height});

    table {
      width: 100%;
      table-layout: fixed;
    }
    
    th, td {
      overflow: hidden;
      width:auto;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .mat-column-id{
      width: 50px;
    }
    td.mat-cell:first-of-type{
      padding-left: 10px;
    }
    td.mat-cell:last-of-type{
      padding-right: 0px;
    }
  }

  .map-container{
    height: $map-height;
    margin-left: 0px;
    width: 100%;
  
    app-map{
      height: $map-height;
    }
  }

  .map-block{
    height: $map-height;
  }
}