
.nav-menus{
  padding-top: 40px;
}

.menu{
  width: 100%;
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #aaa;

  .icon{
    padding: 4px 0px 0px 0px;
  }
  .icon-text{
    padding: 6px 0px 0px 8px;
  }
}